@import '../Plugins/variables.scss';
@import '../Plugins/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.main-back {
  position: absolute;
  width: $width-content;
  height: 811.8px;
  left: 0;
  background: $newBackgroundColor;
}
.card-position {
  position: absolute;
  top: 258px;
  left: 20px;
}
.field {
  position: absolute;
  top: 510px;
  left: 20px;
  height: 50px;
  width: 335px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  border-color: rgba(95, 205, 188, 1);
  box-shadow: 0px 2px 8px rgba(88, 255, 255, 0.4);
  input {
    color: $white;
    font-family: $main-font;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
    position: absolute;
    left: 22px;
    height: 20px;
    width: 300px;
    background: none;
    border: none;
    &:focus {
      outline: none !important;
    }
  }
  legend {
    color: $white;
    font-size: 12px;
    font-family: $main-font;
    font-weight: 300;
    line-height: 20px;
    margin-left: 22px;
  }
}
.rectangle__newcard {
  width: 335px;
  height: 50px;
  position: absolute;
  border-radius: 5px;
  top: 614px;
  left: 20px;
}
.continue {
  @include text__payment;
  width: 335px;
  left: 20px;
  top: 625px;
  margin: 0;
}
.btn-continue {
  @include text__payment;
  position: absolute;
  border-radius: 5px;
  width: 335px;
  height: 50px;
  top: 614px;
  left: 20px;
  border: none;
}
.invalid {
  color: red !important;
  background-color: rgb(175, 175, 175) !important;
  border: 1px solid red;
}
.invalid-input {
}
.footer__newcard {
  position: absolute;
  top: 101%;
  left: 0;
  z-index: 1000;
}
