@import '../Plugins/variables.scss';
@import '../Plugins/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.content__newCard {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $newBackgroundColor;
  z-index: -10;
}
.content__nameCard__field__input-outside {
  position: absolute;
  top: 412px;
  left: 20px;
  height: 50px;
  width: 335px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  border-color: rgba(95, 205, 188, 1);
  box-shadow: 0px 2px 8px rgba(88, 255, 255, 0.4);
  .content__nameCard__field__input-inside {
    color: $white;
    font-family: $main-font;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
    position: absolute;
    left: 22px;
    height: 20px;
    width: 300px;
    background: none;
    border: none;
    &:focus {
      outline: none !important;
    }
  }
  .content__nameCard__field__legend {
    color: $white;
    font-size: 12px;
    font-family: $main-font;
    font-weight: 300;
    line-height: 20px;
    margin-left: 22px;
  }
}
.content__nameCard__field__btn-continue {
  @include text__payment;
  position: absolute;
  border-radius: 5px;
  width: 335px;
  height: 50px;
  top: 516px;
  left: 20px;
  border: none;
  cursor: pointer;
}
.invalid {
  color: rgb(112, 112, 112) !important;
  background-color: rgb(175, 175, 175) !important;
  border: 1px solid rgb(49, 49, 49);
  cursor: not-allowed;
}
.content__nameCard__logo {
  position: absolute;
  z-index: 500;
  top: 325px;
  right: 60px;
}
.content__nameCard__logo-cb {
  position: absolute;
  z-index: 500;
  top: 182px;
  left: 40px;
}
.content__nameCard__logo-bank {
  position: absolute;
  z-index: 500;
  top: 187px;
  left: 106px;
}
.content__nameCard__logo-line {
  position: absolute;
  z-index: 500;
  top: 187px;
  left: 94px;
}

.content__nameCard {
  position: absolute;
  top: 172px;
  left: 40px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: white;
  z-index: 10;
}
.content__nameCard-position {
  position: relative;
  top: 160px;
  left: 20px;
  z-index: 1;
}
.content__nameCard__wifi {
  position: absolute;
  top: 241px;
  left: 318px;
  z-index: 10;
}
.content__nameCard__chip {
  position: absolute;
  top: 234px;
  left: 40px;
  z-index: 10;
}
.content__nameCard__mmyy {
  position: absolute;
  top: 318px;
  left: 40px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: white;
  z-index: 10;
}
.content__nameCard__stars {
  position: absolute;
  top: 287px;
  left: 38px;
  z-index: 10;
}
.content__nameCard__stars__num {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: white;
}

.content__nameCard__blackStripe {
  position: absolute;
  top: 190px;
  left: 20px;
  z-index: 10;
}
.content__nameCard__whiteStripe {
  position: absolute;
  top: 262px;
  left: 37px;
  z-index: 10;
}
.content__nameCard__recSVG {
  position: absolute;
  top: 274px;
  left: 276px;
  z-index: 10;
}
.content__nameCard__fullName {
  position: absolute;
  top: 329px;
  left: 37px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: white;
  z-index: 10;
  margin: 0;
}
.content__nameCard__recSVG-text {
  position: absolute;
  top: 272px;
  left: 283px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: white;
  z-index: 10;
  margin: 0;
}
.content__nameCard__field {
  position: absolute;
  top: 192px !important;
  left: 40px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: white;
  z-index: 10;
}
.main-layout {
  margin: 0 auto;
  position: relative;
  width: 400px;
  padding-left: 0;
  padding-right: 0;
}

/*------------------------------------*/
@media (max-width: 410px) {
  .content__nameCard-position {
    width: 81vw !important;
  }
  .content__nameCard__wifi {
    width: 3vw;
    left: 80vw;
  }
  .content__nameCard__chip {
    width: 10vw;
  }
  .content__nameCard__mmyy {
    font-size: 3vw;
    margin-top: -6vw;
  }
  .content__nameCard__mmyy-media {
    margin-top: -10vw !important;
    top: 95vw;
  }
  .content__nameCard__stars {
    width: 41vw !important;
  }
  .content__nameCard__stars__num {
    width: 81vw !important;
    top: 77vw;
    font-size: 4vw;
  }
  .content__nameCard {
    width: 81vw !important;
    font-size: 80%;
  }
  .content__nameCard__field__btn-continue {
    width: 81vw !important;
  }
  .content__nameCard__field__input-outside {
    width: 81vw !important;
  }
  .content__nameCard__logo {
    left: 66vw;
    top: 80vw;
    width: 16vw;
  }
  .content__nameCard__stars__num-top {
    margin-top: -6vw;
    font-size: 3vw;
  }
  #cardNum {
    font-size: 14px;
  }
  .btn-payment {
    font-size: 14px;
  }
  .blackStripe {
    width: 80.6vw;
  }
  .whiteStripe {
    width: 72vw;
  }
  .content__nameCard__recSVG {
    width: 10vw;
    left: 70vw;
  }
  .content__nameCard__recSVG-text {
    font-size: 3.7vw;
    left: 72vw;
  }
  .content__nameCard__fullName {
    font-size: 3vw;
    top: 300px;
  }
}
