@import '../Plugins/variables.scss';
@import '../Plugins/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.cardInfo {
  height: 700px !important;
}
.card-info__first {
  position: absolute;
  z-index: 100;
  transform: rotate(90deg);
  left: -48px;
  width: 470px;
  height: 330px;
  top: 250px;
}
.card-info__sec {
  position: absolute;
  top: 152px;
  left: 20px;
  z-index: 100;
}
.card-info-backside__sec {
  position: absolute;
  z-index: 100;
  top: 372px;
  left: 20px;
}
.secondCardPosition {
  position: absolute;
  top: 620px;
  @include text__payment;
  position: absolute;
  border-radius: 5px;
  width: 335px;
  height: 50px;
  left: 20px;
  border: none;
  cursor: pointer;
}
.logo__info {
  position: absolute;
  top: 302px;
  left: 250px;
  z-index: 100;
}
.mmyy__info {
  position: absolute;
  top: 307px;
  left: 40px;
  z-index: 100;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: white;
}
.num__info {
  position: absolute;
  top: 282px;
  left: 40px;
  font-family: $main-font;
  font-style: normal;
  z-index: 100;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: white;
}
.z-index {
  z-index: 100 !important;
}
.back-side {
  z-index: 100 !important;
}
.black {
  top: 407px !important;
}
.white {
  top: 482px !important;
}
.recSVG-info {
  top: 494px !important;
}
.recSVG-text-info {
  top: 491px !important;
}
.firSecName-info {
  top: 542px !important;
}

@media (max-width: 390px) {
  .logo__info {
    width: 14vw;
    left: 65vw;
    top: 80vw;
  }
  .card-info__sec {
    width: 81vw !important;
  }
  .num__info {
    font-size: 4vw;
    top: 79vw;
  }
  .mmyy__info {
    font-size: 3vw;
    top: 83vw;
  }
  .card-info-backside__sec {
    width: 81vw !important;
  }
  .firSecName-info {
    top: 142vw !important;
  }
  .secondCardPosition {
    width: 80vw;
  }
}
