@import '../Plugins/variables.scss';
@import '../Plugins/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*first page*/
.nav {
  height: 95px;
  width: $width-content;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 21.79%;
  background: url('~@/profile/PersonalAccount/images/131212008_144294664130776_3406834389164427514_n2.png');
}
.emty-field {
  position: absolute;
  top: 95px;
  width: $width-content;
  height: 72px;
  background: rgba(196, 196, 196, 0.57);
}
.person {
  height: 461px;
  width: $width-content;
  position: absolute;
  background: $newBackgroundColor;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -100;
}
.avatar {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 36.53%;
  right: 36.8%;
  top: 209px;
  bottom: 70.23%;
}
.user-name-text {
  @include main-text;
  line-height: 20px;
  height: 20px;
  width: 161px;
  left: 107px;
  top: 329px;
  text-align: center;
}
.phone-number {
  @include main-text;
  height: 20px;
  left: 131px;
  top: 354px;
  text-align: center;
}
.line {
  position: absolute;
  width: 335px;
  height: 0px;
  left: 20px;
  top: 404.5px;
  border-top: 1px solid rgba(52, 142, 255, 0.5);
}
.close-account-button {
  @include arrow;
  left: 31px;
  top: 194px;
}
.personal-info {
  p {
    @include main-text;
    height: 22px;
    width: 210px;
    left: 60px;
    top: 422px;
  }
  img {
    @include arrow;
    left: 338.58px;
    top: 426.46px;
  }
  .svg {
    @include svg;
    top: 418px;
    left: 20px;
  }
}
.content {
  background: $newBackgroundColor;
  height: 1038px;
  width: $width-content;
  position: absolute;
  top: 0%;
  z-index: -150;
  .line {
    position: absolute;
    width: $width-content;
    top: 480px;
    left: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.25);
    z-index: 200;
  }
  .logout {
    @include content-text;
    top: 884px;
    left: 60px;
  }
  .logout-icon {
    @include svg;
    left: 20px;
    top: 881px;
  }
  .footer {
    position: absolute;
    // width: $width-content;
    bottom: 0;
    z-index: 300;
  }
}
.list {
  background: $newBackgroundColor;
  position: absolute;
  height: 360px;
  width: $width-content;
  left: 0px;
  top: 481px;
}

/**/
.item {
  .icon {
    @include svg;
  }
  p {
    @include content-text;
  }
  .arrow {
    @include arrow;
  }
  span {
    @include line;
  }
}
.item-1 {
  .icon {
    left: 20px;
    top: 496px;
  }
  p {
    left: 60px;
    top: 499px;
  }
  .arrow {
    left: 338.6px;
    top: 504.46px;
  }
  span {
    top: 541px;
    left: 60px;
  }
}
.item-2 {
  .icon {
    left: 20px;
    top: 556px;
  }
  p {
    left: 60px;
    top: 619px;
  }
  .arrow {
    left: 338.6px;
    top: 564.5px;
  }
  span {
    top: 601px;
    left: 60px;
  }
}
.item-3 {
  .icon {
    left: 20px;
    top: 616px;
  }
  p {
    left: 60px;
    top: 559px;
  }
  .arrow {
    left: 338.6px;
    top: 624px;
  }
  span {
    top: 661px;
    left: 60px;
  }
}
.item-4 {
  .icon {
    left: 20px;
    top: 676.2px;
  }
  p {
    left: 60px;
    top: 679px;
  }
  .arrow {
    left: 338.6px;
    top: 684.5px;
  }
  span {
    top: 721px;
    left: 60px;
  }
}
.item-5 {
  .icon {
    left: 20px;
    top: 736px;
  }
  p {
    left: 60px;
    top: 742px;
  }
  .arrow {
    left: 338.6px;
    top: 744.5px;
  }
  span {
    top: 781px;
    left: 60px;
  }
}
.item-6 {
  .icon {
    left: 20px;
    top: 796px;
  }
  p {
    left: 60px;
    top: 799px;
  }
  .arrow {
    left: 338.6px;
    top: 804.5px;
  }
}
