@import '../Plugins/variables.scss';
@import '../Plugins/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

a {
  text-decoration: none;
  color: white;
  &:hover {
    cursor: pointer;
  }
}
ul {
  padding-left: 0;
  li {
    list-style-type: none;
    padding-bottom: 5px;
  }
}
// .emty-field {
//   height: 72px;
//   background: rgba(196, 196, 196, 0.57);
// }
.avatar {
  margin-top: 150px;
  text-align: center;
  img {
    width: 250px;
  }
}
.user-name-text {
  @include main-text;
  line-height: 20px;
  font-size: 18px !important;
  left: 107px;
  padding-top: 10px;
  top: 329px;
  text-align: center;
  margin: 0;
}
.phone-number {
  @include main-text;
  left: 131px;
  font-size: 18px !important;
  padding-top: 10px;
  top: 354px;
  text-align: center;
  margin: 0;
}
.personal-info {
  @include main-text;
  display: flex;
  justify-content: center;
  margin-top: 48px;
  li {
    .svg {
      position: absolute;
      left: 14px;
      padding-top: 3px;
      width: 40px;
    }
    p {
      position: absolute;
      left: 60px;
      font-size: 14px !important;
      width: max-content;
    }
    .arrow {
      padding-top: 18px;
      padding-left: 90vw;
      padding-bottom: 16px;
      &:hover {
        cursor: pointer;
      }
    }
    .line {
      position: absolute;
      top: 450px;
      left: 2%;
      border-top: 2px solid rgba(52, 142, 255, 0.5);
      width: 95%;
      margin-top: 60px;
    }
    .line-list {
      left: 50px;
      border-top: 2px solid rgba(2, 40, 87, 0.5);
      width: 88%;
      margin-top: 47px;
    }
  }
}
.second {
  padding-right: 245px;
  .arrow {
    position: absolute;
    right: 40px;
  }
}
.mgn-btm {
  margin-top: 20px;
  padding-bottom: 20px;
}
.mgn-tp {
  margin-top: 80px;
}

.close-account-button {
  @include arrow;
  padding-left: 10vw;
  width: 14px !important;
  position: absolute;
  top: 160px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
.content {
  background: $newBackgroundColor;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1070px;
  z-index: -10;
}
.person-layout {
  background: $person-layout-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 575px;
  z-index: -5;
}
.list-layout {
  background: $person-layout-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 595px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 360px;
  z-index: -5;
}
.logout-icon {
  @include svg;
  left: 20px;
  top: 881px;
}
.footer {
  position: absolute;
  bottom: 0;
  z-index: 300;
}
.list {
  background: $newBackgroundColor;
  position: absolute;
  height: 360px;
  width: $width-content;
  left: 0px;
  top: 481px;
}
