@import '../Plugins/variables.scss';
@import '../Plugins/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.content__list {
  padding-left: 0;
  .content__list__item {
    list-style-type: none;
    padding-bottom: 5px;
  }
  .content__list__item-avatar {
    list-style-type: none;
    padding-bottom: 5px;
    margin-top: 150px;
    text-align: center;
    .content__list__item-img {
      width: 250px;
    }
  }
}
.content__list__item-user {
  @include main-text;
  line-height: 20px;
  font-size: 18px !important;
  left: 107px;
  padding-top: 10px;
  top: 329px;
  text-align: center;
  margin: 0;
}
.content__list__item-phoneNumber {
  @include main-text;
  left: 131px;
  font-size: 18px !important;
  padding-top: 10px;
  top: 354px;
  text-align: center;
  margin: 0;
}
.content__list__item__personalInfo {
  @include main-text;
  display: flex;
  justify-content: center;
  margin-top: 18px;
  li {
    list-style-type: none;
    .content__list__item__personalInfo-svg {
      position: absolute;
      left: 14px;
      padding-top: 3px;
      width: 40px;
      &:hover {
        cursor: pointer;
      }
    }
    .content__list__item__personalInfo-row {
      position: absolute;
      left: 60px;
      font-size: 14px !important;
      width: max-content;
      &:hover {
        cursor: pointer;
      }
    }
    .content__list__item__personalInfo-arrow {
      padding-top: 16px;
      padding-left: 110vw;
      z-index: 100;
      &:hover {
        cursor: pointer;
      }
    }
    .content__list__item__personalInfo-line {
      left: 50px;
      border-top: 1px solid rgba(2, 40, 87, 0.5);
      width: 88%;
      margin-top: 47px;
    }
  }
}
.content__list__item__personalInfo-second {
  padding-right: 245px;
  .arrow {
    position: absolute;
    right: 40px;
  }
}
.content__list__item__personalInfo-mgn-btm {
  margin-top: 20px;
  padding-bottom: 20px;
}
.content__list__item__personalInfo-mgn-tp {
  margin-top: 80px;
}
.cursor_logout {
  &:hover {
    cursor: pointer;
  }
}
a {
  text-decoration: none;
  color: white;
  &:hover {
    cursor: pointer;
  }
}
.content__close-btn {
  @include arrow;
  padding-left: 10vw;
  width: 14px !important;
  position: absolute;
  top: 160px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
.content {
  background: $newBackgroundColor;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1070px;
  z-index: -10;
}
.person__layout {
  background: $person-layout-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 575px;
  z-index: -5;
}
.list__layout {
  background: $person-layout-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 595px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 360px;
  z-index: -5;
}
